*.com
*.class
*.dll
*.exe
*.o
*.so

*.pptx
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.jar

*.log
upload/
logs/ 

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trash
esehthumbs
.dbThumbs.db

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/
CooperationProject/src/main/webapp/resources/static/js/vendor.97a4a527bf11f8d41455.js.map
CooperationProject/src/main/webapp/resources/static/js/vendor.97a4a527bf11f8d41455.js
CooperationProject/src/main/webapp/resources/static/js/app.ccdfce6a0a92cd24a0b9.js.map
CooperationProject/src/main/webapp/resources/static/js/app.ccdfce6a0a92cd24a0b9.js
CooperationProject/src/main/webapp/resources/static/js/app.876becbd926f9977c7ac.js.map
CooperationProject/src/main/webapp/resources/static/js/app.876becbd926f9977c7ac.js
CooperationProject/src/main/webapp/resources/static/js/app.836fece21b17b01378c8.js.map
CooperationProject/src/main/webapp/resources/static/js/app.836fece21b17b01378c8.js
CooperationProject/src/main/webapp/resources/static/img/logo2.4eec101.png
CooperationProject/src/main/webapp/resources/static/css/app.8db7676b689b800ee670ea7a9e7d4d3f.css.map
CooperationProject/src/main/webapp/resources/static/css/app.8db7676b689b800ee670ea7a9e7d4d3f.css
CooperationProject/src/main/webapp/resources/static/css/app.51ca193654964a69ced3a55c06c7993a.css.map
CooperationProject/src/main/webapp/resources/static/css/app.51ca193654964a69ced3a55c06c7993a.css
CooperationProject/src/main/webapp/resources/static/css/app.1e6470aca31738a32c4280415957e177.css.map
CooperationProject/src/main/webapp/resources/static/css/app.1e6470aca31738a32c4280415957e177.css
CooperationProject/src/main/webapp/resources/static/BMHANNA_11yrs_ttf.ttf
